<div class="card" style="border-radius: 15px;  width: 100%; margin-left: -1%;">
  <div class="card-body">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table id="example" class="display expandable-table" style="width:100%">
              <thead>
                <tr>

                  <th>Request Id</th>
                  <th>Service Name</th>
                  <th>Service Provider Name</th>
                  <th>Provider Email</th>
                  <th>Service Date</th>
                  <th>Status</th>
                  <th>Comments</th>
                  <th>Actions</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data">
                  <td>{{ item.requestId }}</td>
                  <td>{{ item.serviceName }}</td>
                  <td>{{ item.serviceProviderName }}</td>
                  <td>{{ item.providerPhoneNumber }}</td>
                  <td>{{ item.serviceDate }}</td>
                  <td>{{ item.status }}</td>
                  <td>{{ item.comments }}</td>
                  <td>
                    <button (click)="openModal(item, editRequestModal)" class="btn btn-primary">Action</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
              </pagination>
            </div>

          </div>
        </div>
      </div>

      <!-- Modal -->
      <ng-template #editRequestModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="editRequestModalLabel">Edit or Delete Request</h5>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="UpdateRequest()">
            <div class="row">
              <!-- First Row -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="requestId">Request Id</label>
                  <input type="text" id="requestId" [(ngModel)]="currentRequest.requestId" name="requestId"
                    class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label for="serviceName">Service Name</label>
                  <input type="text" id="serviceName" [(ngModel)]="currentRequest.serviceName" name="serviceName"
                    class="form-control">
                </div>
                <div class="form-group">
                  <label for="serviceProviderName">Service Provider Name</label>
                  <input type="text" id="serviceProviderName" [(ngModel)]="currentRequest.serviceProviderName"
                    name="serviceProviderName" class="form-control">
                </div>
              </div>

              <!-- Second Row -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="providerPhoneNumber">Provider Phone Number</label>
                  <input type="text" id="providerPhoneNumber" [(ngModel)]="currentRequest.providerPhoneNumber"
                    name="providerPhoneNumber" class="form-control">
                </div>
                <div class="form-group">
                  <label for="serviceDate">Service Date</label>
                  <input type="date" id="serviceDate" [(ngModel)]="currentRequest.serviceDate" name="serviceDate"
                    class="form-control">
                </div>
                <div class="form-group">
                  <label for="status" style="height: 10px;">Status</label>
                  <input type="text" id="status" [(ngModel)]="currentRequest.status" name="status" class="form-control">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="comments">Comments</label>
              <input type="text" id="comments" [(ngModel)]="currentRequest.comments" name="comments"
                class="form-control">
            </div>
            <div class="d-flex justify-content-end">
              <!-- <button type="button" class="btn btn-primary small-btn" (click)="closeSubmitModal()">Close</button> -->

              <button type="button" class="btn btn-danger me-2" (click)="DeleteRequest()">Delete</button>
              <button type="submit" class="btn btn-success">Update</button>
            </div>
          </form>
        </div>
        <div id="modalMessage" class="alert" style="display: none;">
          {{ message }}

        </div> <!-- Add this line -->
      </ng-template>
    </div>
  </div>
</div>