<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Reset Password</h2>
      <p style="color: red;"> {{ email }}</p>
      <form *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="oldPassword">Old Password:</label>
          <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control">
        </div>
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
          <div *ngIf="resetForm.get('newPassword')?.errors && (resetForm.get('newPassword')?.dirty || resetForm.get('newPassword')?.touched)" class="text-danger mt-1">
            <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">New Password is required</div>
            <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">New Password must be at least 6 characters</div>
            <div *ngIf="resetForm.get('newPassword')?.errors?.['pattern']">New Password must contain at least one number</div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
          <div *ngIf="resetForm.get('confirmPassword')?.errors && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)" class="text-danger mt-1">
            <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
            <div *ngIf="resetForm.get('confirmPassword')?.errors?.['passwordsMatch']">Passwords must match</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
      <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success"> {{ successMessage } </div>

    </div>
  </div>
</div>
