<p>search works!</p>

<div class="row">
    <div class="col-md-12 grid-margin transparent">
      <div class="row">
        <div class="col-md-3 mb-3 stretch-card transparent">
          <div class="card card-tale">
            <div class="card-body">
              <p class="mb-4">Total Cases</p>
              <p class="fs-30 mb-2">100</p>
            
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3 stretch-card transparent">
          <div class="card card-dark-blue">
            <div class="card-body">
              <p class="mb-4">Active Cases</p>
              <p class="fs-30 mb-2">20</p>
            
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3  stretch-card transparent">
          <div class="card card-light-blue">
            <div class="card-body">
              <p class="mb-4">Closed Cases</p>
              <p class="fs-30 mb-2">40</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3  stretch-card transparent">
          <div class="card card-light-danger">
            <div class="card-body">
              <p class="mb-4">Assigned Cases</p>
              <p class="fs-30 mb-2">10</p>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>