<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="form-group mx-sm-3 mb-6 d-flex">
                    <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2"
                        style="width: 150px; height: 30px;">
                        <option value="1" disabled>search by</option>
                        <option value="loanAccount">Loan Account</option>
                        <option value="accountName">Account Name</option>
                        <option value="caseNumber">Case Number</option>
                        <option value="cifId">CIF ID</option>
                    </select>
                    <input type="text" id="searchValue" [(ngModel)]="searchParams.value" placeholder="Enter search value"
                        class="form-control mr-4" style="width: 500%; height: 31px; margin-right: 15px;" required>
                    <button (click)="onSearch()" class="btn btn-primary btn-sm"
                        style="border-radius: 5px; margin-left: -10px;">Search</button>
                </div>
                <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>Case Number</th>
                                <th>Cif ID</th>
                                <th>Loan account</th>
                                <th>Account Name</th>
                                <th>loan Amount</th>
                                <th>Loan Tenure</th>
                                <th>Branch code</th>
                                <th>Loan Balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pagedCasesdata">
                                <td>{{ item.caseNumber}}</td>
                                <td>{{ item.cifId }}</td>
                                <td>{{ item.loanAccount }}</td>
                                <td>{{ item.accountName }}</td>
                                <td>{{ item.loanAmount }}</td>
                                <td>{{ item.loanTenure }}</td>
                                <td>{{ item.solId }}</td>
                                <td>{{ item.loanBalance }}</td>
                                <td>
                                    <button class="btn btn-sm btn-info"
                                        (click)="showTabs = true; getLoanDetails(item.loanAccount)">View Details</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div *ngIf="showTabs" class="container-fluid">
        <div class="col-md-12 grid-margin stretch-card">
            <div id="tabCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-generaldetails-tab" (click)="setActiveTab('general')"
                                    data-bs-toggle="pill" data-bs-target="#pills-generaldetails" type="button"
                                    role="tab" aria-controls="pills-generaldetails" aria-selected="false">General
                                    Details</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-loan-details-tab" (click)="setActiveTab('loan')"
                                    data-bs-toggle="pill" data-bs-target="#pills-loan-details" type="button" role="tab"
                                    aria-controls="pills-loan-details" aria-selected="false">Loan Details</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-repayment-tab" (click)="setActiveTab('repaymnent')"
                                    data-bs-toggle="pill" data-bs-target="#pills-repayment" type="button" role="tab"
                                    aria-controls="pills-repayment" aria-selected="false">Repayment Schedule</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-collateral-tab" (click)="setActiveTab('collateral')"
                                    data-bs-toggle="pill" data-bs-target="#pills-collateral" type="button" role="tab"
                                    aria-controls="pills-collateral" aria-selected="false">Collaterals</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-guarantor-tab" (click)="setActiveTab('guarantor')"
                                    data-bs-toggle="pill" data-bs-target="#pills-guarantor" type="button" role="tab"
                                    aria-controls="pills-guarantor" aria-selected="false">Guarantor</button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-documents-tab" (click)="setActiveTab('documents')"
                                        data-bs-toggle="pill" data-bs-target="#pills-documents" type="button" role="tab" aria-controls="pills-documents"
                                        aria-selected="false">Documents</button>
                                </li> -->
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-documents-tab"
                                    (click)="activateTabAndNavigate('documents')" role="tab"
                                    aria-controls="pills-documents" aria-selected="false">Documents</button>
                            </li>
                        </ul>


                        <div class="container" style="padding: 0;">
                            <div class="col-md-12 grid-margin stretch-card" style="margin: 0;">
                                <div class="container-fluid">

                                    <!-- General Details Tab -->
                                    <div class="carousel-item" [ngClass]="{'show active': activeTab === 'general'}"
                                        id="pills-generaldetails" role="tabpanel" aria-labelledby="pills-general-tab">
                                        <div *ngIf="loanDetails">
                                            <div class="row gx-2">

                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountName">CIF ID:</label>
                                                        <input type="text" id="accountName" class="form-control"
                                                            [value]="loanDetails?.id" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountBalance">Account Balance:</label>
                                                        <input type="text" id="accountBalance" class="form-control"
                                                            [value]="loanDetails?.accountBalance" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountOwnership">Account Mode:</label>
                                                        <input type="text" id="accountOwnership" class="form-control"
                                                            [value]="loanDetails?.accountOwnership" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountName">Account Name:</label>
                                                        <input type="text" id="accountName" class="form-control"
                                                            [value]="loanDetails?.accountName" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="transactionPhone">Phone Number:</label>
                                                        <input type="text" id="transactionPhone" class="form-control"
                                                            [value]="loanDetails?.transactionPhone" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountStatus">Loan Status:</label>
                                                        <input type="text" id="accountStatus" class="form-control"
                                                            [value]="loanDetails?.accountStatus" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="acid">Loan Account:</label>
                                                        <input type="text" id="acid" class="form-control"
                                                            [value]="loanDetails?.acid" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="bookBalance">Book Balance</label>
                                                        <input type="text" id="bookBalance" class="form-control"
                                                            [value]="loanDetails?.bookBalance" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountType">Scheme Code:</label>
                                                        <input type="text" id="accountType" class="form-control"
                                                            [value]="loanDetails?.accountType" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="openingDate">Opening Date:</label>
                                                        <input type="text" id="openingDate" class="form-control"
                                                            [value]="loanDetails?.openingDate" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="lienAmount">Lien Amount:</label>
                                                        <input type="text" id="lienAmount" class="form-control"
                                                            [value]="loanDetails?.lienAmount" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="cashExceptionCr">Cash Limit cr:</label>
                                                        <input type="text" id="cashExceptionCr" class="form-control"
                                                            [value]="loanDetails?.cashExceptionCr" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="cashExceptionLimitDr">Cash Limit dr:</label>
                                                        <input type="text" id="cashExceptionLimitDr"
                                                            class="form-control"
                                                            [value]="loanDetails?.cashExceptionLimitDr" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="glSubhead">GL-Subhead:</label>
                                                        <input type="text" id="glSubhead" class="form-control"
                                                            [value]="loanDetails?.glSubhead" readonly>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-primary small-btn"
                                                        style="border-radius:3px;margin-left:85%;" data-dismiss="modal"
                                                        (click)="exitPage()">Exit Page</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'loan'}"
                                        id="pills-loan-details" role="tabpanel" aria-labelledby="pills-loandetails-tab">
                                        <div *ngIf="loanDetails">
                                            <div class="row gx-2">
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountName">Account Name:</label>
                                                        <input type="text" id="accountName" class="form-control"
                                                            [value]="loanDetails?.accountName" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="productCode">Loan Code:</label>
                                                        <input type="text" id="productCode" class="form-control"
                                                            [value]="loanDetails?.productCode" readonly>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-3">
                                                                        <div class="form-group mb-2">
                                                                            <label for="collateralsTotal">Collateral Total:</label>
                                                                            <input type="text" id="collateralsTotal" class="form-control"
                                                                                [value]="loanDetails.loan.collateralsTotal" readonly>
                                                                        </div>
                                                                    </div> -->
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="interestCalculationMethod">Interest Type:</label>
                                                        <input type="text" id="interestCalculationMethod"
                                                            class="form-control"
                                                            [value]="loanDetails.loan.interestCalculationMethod"
                                                            readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="disbursementDate">Disbursement Date:</label>
                                                        <input type="text" id="disbursementDate" class="form-control"
                                                            [value]="loanDetails.loan.disbursementDate" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="dailyInterestAmount">Daily Interest Amount:</label>
                                                        <input type="text" id="dailyInterestAmount" class="form-control"
                                                            [value]="loanDetails.loan.dailyInterestAmount" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="currentRate">Current Rate:</label>
                                                        <input type="text" id="currentRate" class="form-control"
                                                            [value]="loanDetails.loan.currentRate" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="installmentAmount">Installment:</label>
                                                        <input type="text" id="installmentAmount" class="form-control"
                                                            [value]="loanDetails.loan.installmentAmount" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="frequencyPeriod">Frequency:</label>
                                                        <input type="text" id="frequencyPeriod" class="form-control"
                                                            [value]="loanDetails.loan.frequencyPeriod" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="PrincipalAmount">PrincipalAmount:</label>
                                                        <input type="text" id="principalAmount" class="form-control"
                                                            [value]="loanDetails.loan.netAmount" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="accountOwnership">Scheme Type:</label>
                                                        <input type="text" id="accountOwnership" class="form-control"
                                                            [value]="loanDetails?.accountOwnership" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="glCode">GL:</label>
                                                        <input type="text" id="glCode" class="form-control"
                                                            [value]="loanDetails?.glCode" readonly>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="loanPeriodMonths">Loan Tenure(Months):</label>
                                                        <input type="text" id="loanPeriodMonths" class="form-control"
                                                            [value]="loanDetails.loan.loanPeriodMonths" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="loanPeriodDays">Perfoming Days:</label>
                                                        <input type="text" id="loanPeriodDays" class="form-control"
                                                            [value]="loanDetails.loan.loanPeriodDays" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="disbursmentAccount">Cr account:</label>
                                                        <input type="text" id="disbursmentAccount" class="form-control"
                                                            [value]="loanDetails.loan.disbursmentAccount" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="disbursedBy">Disbursed By</label>
                                                        <input type="text" id="disbursedBy" class="form-control"
                                                            [value]="loanDetails.loan.disbursedBy" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="maturityDate">Related Fees:</label>
                                                        <input type="text" id="maturityDate" class="form-control"
                                                            [value]="loanDetails.loan.feesAmount" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="maturityDate">Maturity Date:</label>
                                                        <input type="text" id="maturityDate" class="form-control"
                                                            [value]="loanDetails.loan.maturityDate" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group mb-2">
                                                        <label for="disbursmentVerifiedBy">Approved by:</label>
                                                        <input type="text" id="disbursmentVerifiedBy"
                                                            class="form-control"
                                                            [value]="loanDetails.loan.disbursmentVerifiedBy" readonly>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-primary small-btn"
                                                        style="border-radius:3px;margin-left:85%;" data-dismiss="modal"
                                                        (click)="exitPage()">Exit Page</button>
                                                </div>
                                                <!-- More fields here as per original content -->
                                            </div>
                                        </div>
                                    </div>



                                    <!-- Repayment Tab -->
                                    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'repayment'}"
                                        id="pills-repayment" role="tabpanel" aria-labelledby="pills-repaymnet-tab">
                                        <div *ngIf="loanDetails">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group mb-2">
                                                        <div class="container">
                                                            <label for="loanSchedules">Loan Repayment Schedule:</label>
                                                            <div style="display: flex; align-items: center;">
                                                                <!-- <img src="../assets/images/equity-bank.png" class="me-2" alt="logo"
                                                                        style="margin-right: 10px;width: 50px; height: auto;" /> -->
                                                                <div>
                                                                    <p>Account Name: {{loanDetails?.accountName}}</p>
                                                                    <p>Account Number: {{loanDetails?.acid}}</p>
                                                                    <p>Date: {{getCurrentDate()}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="table-responsive">
                                                                <table id="example" class="display expandable-table"
                                                                    style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>ID</th>
                                                                            <th>Start Date</th>
                                                                            <th>Installment Number</th>
                                                                            <th>Description</th>
                                                                            <th>Amount</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr
                                                                            *ngFor="let schedule of loanDetails.loan.loanSchedules">
                                                                            <td>{{ schedule.id }}</td>
                                                                            <td>{{ schedule.startDate }}</td>
                                                                            <td>{{ schedule.installmentNumber }}</td>
                                                                            <td>{{ schedule.installmentDescription }}
                                                                            </td>
                                                                            <td>{{ schedule.installmentAmount }}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div>
                                                                    <button class="btn btn-sm btn-info"
                                                                        (click)="downloadPDF()">Download</button>
                                                                </div>

                                                            </div>
                                                            <div>
                                                                <button type="button" class="btn btn-primary small-btn"
                                                                    style="border-radius:3px;margin-left:85%;"
                                                                    data-dismiss="modal" (click)="exitPage()">Exit
                                                                    Page</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Guarantor Tab -->
                                    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'guarantor'}"
                                        id="pills-guarantor" role="tabpanel" aria-labelledby="pills-guarantor-tab">
                                        <div *ngIf="loanDetails">
                                            <div class="col-md-3">
                                                <div class="form-group mb-2">
                                                    <label for="accountName">Account Name:</label>
                                                    <input type="text" id="accountName" class="form-control"
                                                        [value]="loanDetails?.accountName" readonly>

                                                </div>

                                                <table class="table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Gurantor Code</th>
                                                            <th>Account Name</th>
                                                            <th>Gurantor Type</th>
                                                            <th>Amount Guaranteed</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let schedule of loanDetails.loan.loanGuarantors">
                                                            <td>{{ schedule.id }}</td>
                                                            <td>{{ schedule.guarantorCustomerCode}}</td>
                                                            <td>{{ schedule.loanSeries }}</td>
                                                            <td>{{ schedule.guarantorType }}</td>
                                                            <td>{{ schedule.guaranteeAmount}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div>
                                                    <button class="btn btn-sm btn-info"
                                                        (click)="downloadPDF()">Download</button>
                                                </div>


                                                <div>
                                                    <button type="button" class="btn btn-primary small-btn"
                                                        style="border-radius:3px;margin-left:350%;" data-dismiss="modal"
                                                        (click)="exitPage()">Exit Page</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'collateral'}"
                                        id="pills-collateral" role="tabpanel" aria-labelledby="pills-collateral-tab">
                                        <div *ngIf="loanDetails">
                                            <div class="col-md-3">
                                                <div class="form-group mb-2">
                                                    <label for="accountName">Account Name:</label>
                                                    <input type="text" id="accountName" class="form-control"
                                                        [value]="loanDetails?.accountName" readonly>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-primary small-btn"
                                                        style="border-radius:3px;margin-left:290%;" data-dismiss="modal"
                                                        (click)="exitPage()">Exit Page</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Documents Tab -->
                                    <!-- <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'documents'}" id="pills-documents"
                                            role="tabpanel" aria-labelledby="pills-documents-tab">
                                            <div *ngIf="loanDetails">
                                                <button class="btn btn-link" [routerLink]="['/documents/app-retrieve']">Go to
                                                    Documentation</button>
                                            </div>
                                        </div> -->
                                    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'documents'}"
                                        id="pills-documents" role="tabpanel" aria-labelledby="pills-documents-tab">
                                        <div *ngIf="loanDetails">
                                            <button class="btn btn-link" [routerLink]="['/documents/app-retrieve']">Go
                                                to Documentation</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>


    </div>


</div>