.form-control {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
}

.small-btn {
    font-size: 15px;
    /* Adjust the font size as needed */
    padding: 5px 10px;

    height: 30px;

}
.alert{
  background-color: rgb(9, 243, 114);
  color: rgb(10, 10, 10);
}