<div>
    <h4> Total Cases</h4>
</div><div class="form-group mx-sm-3 mb-6 d-flex">
    <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "
        style="width: auto; height: 30px;">
        <option value="SearchBy" disabled>SearchBy</option>
        <option value="loanAccount">Case number</option>
        <option value="cifId">CIF</option>
        <option value="assignedEmail">Branch Id</option>
        <option value="accountName">Account Name</option>
        <option value="loanAccount">Loan Account</option>
        
        <!-- <option value="id">ID</option> -->
    </select>
    <input type="text" id="searchValue" [(ngModel)]="searchParams.value" placeholder="Enter search value"
        class="form-control mr-4" style="height: 30px;width: 100%; ">
    <button (click)="search()" class="btn btn-primary small-btn" style="border-radius: 3px;">Search</button>
</div>




<!-- Export Buttons Container -->
<!-- <div class="export-buttons-container">
                        <button class="btn btn-primary mr-4 small-btn" style="margin-left: -60px;" (click)="exportToPDF()">Export PDF</button>
                        <button class="btn btn-primary small-btn" style="margin-right: 4px;" (click)="exportToExcel()">Export Excel</button>

                    </div> -->

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table id="example" class="display expandable-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Case Number</th>
                        <th>Account Name</th>
                        <th>Loan account</th>
                        <th>CIF</th>
                        <th>Branch Id</th>
                        <th>Loan Balance</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{ item.caseNumber }}</td>
                        <td>{{ item.accountName }}</td>
                        <td>{{ item.loanAccount }}</td>
                        <td>{{ item.cifId }}</td>
                        <td>{{ item.solId }}</td>
                        <td>{{ item.loanBalance }}</td>
                        <td>{{ item.status }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination-container">
    <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
        (pageChanged)="pageChanged($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
    </pagination>
</div>
<button type="button" class="btn btn-primary  small-btn" style="border-radius:3px ;" data-dismiss="modal"
    (click)="exit()">Exit</button>

