<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let tab of tabs; let i = index" (click)="selectTab(i)">
    <a class="nav-link" [ngClass]="{'active': selectedIndex === i}">{{ tab.title }}</a>
  </li>
</ul>

<!-- Content for tabs -->
<div class="tab-content" style="background-color: #d3d3d3; border-radius: 20px; height: 80%;">
  <ng-container *ngFor="let tab of tabs; let i = index">
    <div *ngIf="selectedIndex === i" class="tab-pane fade show active">
      <!-- Display tab content based on selectedIndex -->
      <ng-container *ngIf="i === 0">
        <!-- Display content for "Refinance" tab -->
      <div class="container-xl h-100" style="width: 150%; margin-left: -9%;">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-11">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                <div class="row align-items-center pt-4 pb-3">
                  <div class="main-body" style="margin-top: -25px;">
                    <div>
                      <label>Loan Account Details</label>
                      <input type="text" class="form-control" (keyup)="applyFilter($event)"
                        placeholder="Search by loan Account"  style="height: 30px;"     #input>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="table-responsive">
                          <table id="example" class="display expandable-table" style="width:100%">
                            <thead>
                              <tr>
                                <th>Case No</th>
                                <th>Loan Account</th>
                                <th>CIF ID</th>
                                <th>Acc Name</th>
                                <th>Loan Amnt</th>
                                <th>Loan Bal</th>
                                <th>Branch Id</th>
                                <th>Loan Tenure</th>
                                <th>Restructured</th>
                                <th>Refinanced</th>
                                <th>Recovered</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of dataSourceFiltered">
                                <td>{{ item.caseNumber}}</td>
                                <td>{{ item.loanAccount }}</td>
                                <td>{{ item.cifId }}</td>
                                <td>{{ item.accountName }}</td>
                                <td>{{ item.loanAmount }}</td>
                                <td>{{ item.loanBalance }}</td>
                                <td>{{ item.solId }}</td>
                                <td>{{ item.loanTenure }}</td>
                                
                                <td>{{ item.restructuredFlag }}</td>
                                <td>{{ item.refinancedFlag }}</td>
                                <td>{{ item.recoveredFlag }}</td>
                                <td><button class="btn btn-primary btn-sm"
                                    (click)="goToRefinanceForm(item.loanAccount)">Proceed</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin-left: 69%;margin-top: -10px;">
                      <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="7" (pageChanged)="pageChanged($event)"
                        [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                      </pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </ng-container>
      <ng-container *ngIf="i === 1">
        <!-- Display content for "Restructure" tab -->
        <div class="container-xl h-100" style="width: 150%; margin-left: -9%;">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-11">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body" style="margin-top: -25px;">
                  <div class="row align-items-center pt-4 pb-3">
                    <div class="main-body">
                      <div>
                        <label>Loan Account Details</label>
                        <input type="text" class="form-control" (keyup)="applyFilter($event)"
                          placeholder="Search by loan Account" #input>
                      </div>
                      <div class="col-12">
                        <div class="table-responsive">
                          <table id="example" class="display expandable-table" style="width:100%">
                            <thead>
                              <tr>
                                <th>Case No</th>
                                <th>Loan Account</th>
                                <th>CIF ID</th>
                                <th>Acc Name</th>
                                <th>Loan Amnt</th>
                                <th>Loan Bal</th>
                                <th>Branch Id</th>
                                <th>Loan Tenure</th>
                                <th>Restructured</th>
                                <th>Refinanced</th>
                                <th>Recovered</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of dataSourceFiltered">
                                <td>{{ item.caseNumber}}</td>

                                <td>{{ item.loanAccount }}</td>
                                <td>{{ item.cifId }}</td>
                                <td>{{ item.accountName }}</td>
                                <td>{{ item.loanAmount }}</td>
                                <td>{{ item.loanBalance }}</td>
                                <td>{{ item.solId }}</td>
                                <td>{{ item.loanTenure }}</td>
                                <td>{{ item.restructuredFlag }}</td>
                                <td>{{ item.refinancedFlag }}</td>
                                <td>{{ item.recoveredFlag }}</td>
                                <td><button class="btn btn-primary btn-sm"
                                    (click)="goToRestructureForm(item.loanAccount)">Proceed</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="row" style="margin-left: 61%;">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="7" (pageChanged)="pageChanged($event)"
                          [maxSize]="4" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="i === 2">
        <!-- Display content for "Recovery" tab -->
        <div class="container-xl h-100" style="width: 150%; margin-left: -9%;">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-11">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body" style="margin-top: -25px;">
                  <div class="row align-items-center pt-4 pb-3">
                    <div class="main-body">
                      <div>
                        <label>Loan Account Details</label>
                        <input type="text" class="form-control" (keyup)="applyFilter($event)"
                          placeholder="Search by loan Account" #input>
                      </div>
                      <div class="col-12">
                        <div class="table-responsive">
                          <table id="example" class="display expandable-table" style="width:100%">
                            <thead>
                              <tr>
                                <th>Case No</th>
                                <th>Loan Account</th>
                                <th>CIF ID</th>
                                <th>Acc Name</th>
                                <th>Loan Amnt</th>
                                <th>Loan Bal</th>
                                <th>Branch Id</th>
                                <th>Loan Tenure</th>
                                <th>Restructured</th>
                                <th>Refinanced</th>
                                <th>Recovered</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of dataSourceFiltered">
                                  <td>{{ item.caseNumber}}</td>
                                <td>{{ item.loanAccount }}</td>
                                <td>{{ item.cifId }}</td>
                                <td>{{ item.accountName }}</td>
                               
                                <td>{{ item.loanAmount }}</td>
                                <td>{{ item.loanBalance }}</td>
                                <td>{{ item.solId }}</td>
                                <td>{{ item.loanTenure }}</td>
                                <td>{{ item.restructuredFlag }}</td>
                                <td>{{ item.refinancedFlag }}</td>
                                <td>{{ item.recoveredFlag }}</td>
                                <td><button class="btn btn-primary btn-sm"
                                    (click)="goToRecoveryForm(item.loanAccount)">Proceed</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="row" style="margin-left: 61%;">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="7" (pageChanged)="pageChanged($event)"
                          [maxSize]="4" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>