<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin transparent">
            <div class="row">
                <div class="col-md-3 mb-3 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Total Cases</p>
                            <p class="fs-30 mb-2">355</p>
                            <!-- <p class="fs-30 mb-2">{{ totalCases }}</p> -->

                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 stretch-card transparent" style="margin-left: 120px;">
                    <div class="card card-dark-blue" (click)="goToAssignedCases()">
                        <div class="card-body">
                            <p class="mb-4">Assigned Cases</p>
                            <p class="fs-30 mb-2">200</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-3  stretch-card transparent" style="margin-left: 120px;">
                    <div class="card card-light-blue" (click)="goToAssignCase()">
                        <div class="card-body">
                            <p class="mb-4">unassigned Cases</p>
                            <p class="fs-30 mb-2">155</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>