.assign {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    height: 40px;
}

.assign:hover {
    background-color: #00124c;
}

.form-check {
    display: flex;
    align-items: center;
}

.light-blue-background {
    background-color: #e0f2f1;
    padding: 20px;
}

.btn {
    margin-right: 10px;
}

.custom-input::placeholder {
    font-size: 16px;
    /* Adjust the font size as needed */
}

.custom-input {
    background-color: #f0f0f0;
    /* Change the background color as needed */
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #383a39;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(56, 58, 57, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(198, 201, 199, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #838583;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #8d8f8d, rgb(163, 167, 170));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(157, 160, 158), rgb(140, 142, 143))
}

.form-control {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-btn {
    font-size: 15px;
    /* Adjust the font size as needed */
    padding: 5px 10px;

    height: 30px;

}