


<div class="main-body">
  <div>
    <label>Search User</label>
    <input type="text" class="form-control" (keyup)="applyFilter($event)" placeholder="Search by PF eg. 10923" #input>
  </div>

  <div class="table-container">
    <table class="table table-striped">
      <thead style="background-color: #002d72; color: cornsilk">
        <tr>
          <th>P.F/ID</th>
          <th>Name</th>
          <th>Email</th>
         
          <th>Creation Date</th>
          <th>Status</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of dataSourceFiltered ">
          <td>{{row.id}}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.email }}</td>
          
          <td>{{ row.creationDate }}</td>

          <td>{{ row.isActive? "Active" : "Inactive" }}</td>
          <td>
            {{ row.role === ""? "Unassigned" : row.role }}
          </td>
          <td>
            <!-- <span *ngIf="row.role !== 'admin'" (click)="openEditForm(row)" class="action-icon" style="margin-right: 5px;">
                <i class="fa fa-edit"></i>
            </span> -->
         
          <button class="btn btn-primary  btn-sm" *ngIf="row.role !== 'admin'" (click)="openEditForm(row)">UPDATE</button>
                      

            <!-- <span (click)="deleteEmployee(row.id)" class="action-icon">
              <i class="fa fa-trash"></i>
            </span> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
