

.modal-content {
background: #dbe8e9;
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.table-container {
  width: 100%;
  overflow-x: auto; 
}

.form-label {
  height: 30px;
  
}


.form-control {
  width: 100%;
  margin-top: -20px;
  height: 30px;
  padding: 5px 10px;
}

.form-select {
  height: 30px;
 
  font-size: 14px;
 
}

.more-info {
  cursor: pointer;
  color: #f10404;
  font-size: 2.25em;
  /* Adjust size as needed */
}

.more-info:hover {
  text-decoration: underline;

}

able {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#example th,
#example td {
  padding: 6px;
}

#example tr:nth-child(even) {
  background-color: #c0c0c0;
}

#example tr:nth-child(odd) {
  background-color: #ffffff;
}

.pagination-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}

