.modal-body {
    padding: 10px;
}

.modal-dialog,
.modal-content {
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
}

.label-column label,
.input-column input,
.input-column select {
    font-size: 14px;
    line-height: 1;
}

.form-control {
    width: 50%;
    /* Reduce width of input fields */
    height: 30px;
    padding: 5px 10px;
    margin-left: auto;
    /* Align input fields to the center */
}

/* Align form items horizontally */
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 30%;
    margin-right: 10px;
    text-align: right;
}

.light-blue-background {
    background-color: #8EC5FC;
     background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 20px;
    border-radius: 5px;
}

.btn {
    margin-top: 10px;
    display: block;
    width: 50%;
    text-align: center;
    
}

/* Optional: Additional styling for modal and button */
.modal-content {
    border-radius: 5px;
    overflow: hidden;
}

.modal-dialog {
    max-width: 500px;
    width: 100%;
    margin: auto;
}