.modal-body {
    padding: 10px; 
}
.modal-dialog {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.modal-content {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
} 


.label-column label,
.input-column input,
.input-column select {
    font-size: 14px;
    line-height: 1;
}

/* Reduce width of placeholders and adjust for alignment */
.form-control {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
}

/* Align form items horizontally in two columns */
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Define the width for the label and input columns */
.label-column,
.input-column {
    flex: 1;
}

/* Adjust the margin between label and input */
.label-column {
    margin-right: 10px;
}

/* Optional: Additional styling for form elements */
.light-blue-background {
    background-color: #e0f2f1;
    padding: 20px;
}

.btn {
    margin-right: 10px;
}

.custom-green {
    background-color: #28a745;
    /* Green color */
    border-color: #28a745;
    /* Green border color */
}

.custom-red {
    background-color: #dc3545;
    /* Red color */
    border-color: #dc3545;
    /* Red border color */
}

.custom-green:hover,
.custom-green:focus,
.custom-green:active {
    background-color: #218838;
    /* Darker green on hover, focus, and active */
    border-color: #1e7e34;
    /* Darker green border color on hover, focus, and active */
}

.custom-red:hover,
.custom-red:focus,
.custom-red:active {
    background-color: #c82333;
    /* Darker red on hover, focus, and active */
    border-color: #bd2130;
    /* Darker red border color on hover, focus, and active */
}
.alert-top {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* Adjust z-index if necessary */
}
