<ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs; let i = index" (click)="selectTab(i)">
        <a class="nav-link" [class.active]="selectedIndex === i">{{ tab.title }}</a>
    </li>
</ul>


<!-- cONTENT FOR TABLES -->

<div class="tab-content">
    <ng-container *ngFor="let tab of tabs; let i = index">
        <div *ngIf="selectedIndex === i" class="tab-pane fade show active">
            <!-- Display tab content based on selectedIndex -->
            <ng-container *ngIf="i === 0">
                <!-- Display table for the "Cases" tab -->
                <div class="table-responsive">


                    <!-- Search input and button start -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>A/C NO</th>
                                <th>CIF</th>
                                <th>NAME</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="font-weight-bold">88234234545</td>
                                <td>9283742423423</td>
                                <td>Joseph Smith</td>
                                <td class="font-weight-medium">
                                    <div class="badge badge-success">Pending</div>
                                </td>
                                <td>
                                    <button class="btn btn-primary">Approve</button>
                                </td>
                            </tr>
                            <!-- Add more table rows as needed -->
                        </tbody>
                    </table>
                </div>
            </ng-container>


            <ng-container *ngIf="i === 1">
                <!-- Display content for "Document Approval" tab -->
        
                <div class="container mt-3" >
                    <button type="button" class="btn btn-primary mb-3" (click)="fetchDocuments()">Fetch Documents</button>
        
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display table-expandable table-responsive" style="width:100%">
                                    <thead class="table-sm thead-dark">
                                        <tr>
                                            <th class="p-1 text-nowrap">File Name</th>
                                            <th class="p-1 text-nowrap">Account</th>
                                            <th class="p-1 text-nowrap">Submission Date</th>
                                            <th class="p-1 text-nowrap">Status</th>
                                            <th class="p-1 text-nowrap">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let document of documents">
                
                                            <td><a href="#" (click)="viewDocument(document)">{{ document.fileName }}</a></td>
                                            <td>{{ document.loanAccount }}</td>
                                            <td>{{ document.createdOn}}</td>
                                            <td>
                                                <ng-container *ngIf="document.rejectedFlag === 'Y'; else notRejected">
                                                    <button type="button" class="btn btn-danger btn-sm">Rejected</button>
                                                </ng-container>
                                                <ng-template #notRejected>
                                                    <button type="button" class="btn btn-warning btn-sm" *ngIf="document.verifiedFlag !== 'Y'">Pending</button>
                                                    <button type="button" class="btn btn-success btn-sm" *ngIf="document.verifiedFlag === 'Y'">Approved</button>
                                                </ng-template>
                                            </td>



                                            <td>
                                                <!-- Button to open Approval Confirmation Modal -->
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#approvalModal">Details</button>
                                            
                                                <!-- Modal for Approval Confirmation -->
                                                <div class="modal fade" id="approvalModal" tabindex="-1" aria-labelledby="approvalModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="approvalModalLabel">Document Approval</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <form (submit)="handleSubmit(document)">
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="inputloanbalance" style="margin-bottom: -1px;">Loan Account</label>
                                                                            <input type="text" class="form-control" id="loanAccount" name="loanAccount"
                                                                                [(ngModel)]="document.loanAccount" readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="accountName" style="margin-bottom: -1px;">Account Name</label>
                                                                            <input type="text" class="form-control" id="accountName" name="accountName"
                                                                                [(ngModel)]="document.accountName" readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="fileName" style="margin-bottom: -1px;">Uploaded File</label>
                                                                            <input type="text" class="form-control" id="fileName" name="fileName" [(ngModel)]="document.fileName"
                                                                                readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="createdOn" style="margin-bottom: -1px;">Submission Date</label>
                                                                            <input type="text" class="form-control" id="createdOn" name="createdOn" [(ngModel)]="document.createdOn"
                                                                                readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="folder" style="margin-bottom: -1px;">Folder</label>
                                                                            <input type="text" class="form-control" id="folder" name="folder" [(ngModel)]="document.folder" readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="uploadedBy" style="margin-bottom: -1px;">Uploaded by</label>
                                                                            <input type="text" class="form-control" id="uploadedBy" name="uploadedBy" [(ngModel)]="document.uploadedBy"
                                                                                readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="Id" style="margin-bottom: -1px;">Document ID</label>
                                                                            <input type="text" class="form-control" id="Id" name="Id" [(ngModel)]="document.id" readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="fileType" style="margin-bottom: -1px;">Uploaded File</label>
                                                                            <input type="text" class="form-control" id="fileType" name="fileType" [(ngModel)]="document.fileType"
                                                                                readonly>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3" style="margin-top: -10px;">
                                                                            <label for="comments" style="margin-bottom: -1px;">Comments</label>
                                                                            <textarea class="form-control" id="comments" name="comments" [(ngModel)]="document.comments"
                                                                                rows="5"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="successMessage" class="alert alert-success mt-2" role="alert">
                                                                    {{ successMessage }}
                                                                </div>
                                                                <!-- <div *ngIf="loading">
                                                                    <div class="loader mt-2">
                                                                        <div class="spinner-border" role="status">
                                                                            <span class="sr-only">Loading...</span>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                            
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger" (click)="rejectDocument(document)">Reject</button>
                                                                    <button type="submit" class="btn btn-primary" (click)="setAction('approve')">Approve</button>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                    </div>  
                <button type="button" class="btn btn-primary mb-3" (click)="goBack()">Back</button>
            </div>


            </ng-container>



            <ng-container *ngIf="i === 2">
                <!-- Display content for "Claims Approval" tab -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Claim Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <!-- <h2 class="text-center mb-4">APPROVE CLAIM</h2> -->

    <!-- Form fields -->
    <div class="form-row mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="SERVICE NAME">
        </div>
        <div class="col">
            <select class="form-control">
                <option>SERVICE PROVIDER</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control">
                <option>SERVICE ID</option>
            </select>
        </div>
    </div>

    <!-- Additional form fields -->
    <div class="form-row mb-3">
        <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="ACCOUNT NUMBER">
        </div>
        <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="CONTACT INFO">
        </div>
    </div>

    <!-- Claim amount field -->
    <div class="form-group mb-3">
        <label for="claimAmount">CLAIM AMOUNT</label>
        <input type="text" id="claimAmount" class="form-control">
    </div>

    <!-- Service details textarea -->
    <div class="form-group mb-3">
        <label for="serviceDetails">SERVICE DETAILS</label>
        <textarea id="serviceDetails" class="form-control"></textarea>
    </div>

    <!-- Supporting documents section -->
    <div class="form-group mb-3">
        <label>SUPPORTING DOCUMENTS</label>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary">VIEW</button>
            <button type="button" class="btn btn-secondary">DOWNLOAD</button>
            <button type="button" class="btn btn-secondary">UPLOAD</button>
        </div>
    </div>

    <!-- Navigation buttons -->
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">PREVIOUS</button>
        <button type="button" class="btn btn-danger">RETURN TO MAKER</button>
        <button type="button" class="btn btn-warning">REJECT</button>
        <button type="button" class="btn btn-success">APPROVE</button>
    </div>
</div>

</body>
</html>

            </ng-container>



            <ng-container *ngIf="i === 3">
                <!-- Display content for "Claims Approval" tab -->
                <div class="container mt-3">
                    <!-- Claim details -->
                    <h5>Request Details:</h5>
                    <!-- Replace this with actual claim details -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="https://www.example.com">Request ID :10106</a>

                            </h5>
                            <p class="card-text">Requester user name: John kamau</p>
                            <p class="card-text">Amount: $1000</p>
                            <p class="card-text">Item: furniture</p>
                            <p class="card-text">Date: 1024-04-10</p>
                        </div>
                    </div>
                    <!DOCTYPE html>
                    <html lang="en">
                    
                    <head>
                        <meta charset="UTF-8">
                        <title>Request Service Form</title>
                        <!-- Include Bootstrap CSS for styling -->
                        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
                    </head>
                    
                    <body>
                    
                        <div class="container mt-5">
                            <div class="row mb-3">
                                <div class="col" style="text-align: center; color: maroon;">
                                    <h4> SERVICE REQUEST APPROVAL </h4>
                                </div>
                            </div>
                    
                            <form>
                                <!-- Dropdowns -->
                                <div class="form-group row">
                                    <div class="col-md-4 mb-3 mb-md-0">
                                        <label for="service-name">Service Name</label>
                                        <select id="service-name" name="service-name" class="form-control">
                                            <option value="Lawyers">Auctioner</option>
                                            <option value="Drinking Water">Underwriting</option>
                                            <option value="Lawyers">Law Suite</option>
                                            <!-- Add more options here -->
                                        </select>
                                    </div>
                    
                                    <div class="col-md-4 mb-3 mb-md-0">
                                        <label for="region">Region</label>
                                        <select id="region" name="region" class="form-control">
                                            <option value="option1">Coast</option>
                                            <option value="option1">Nairobi</option>
                                            <option value="option1">Western </option>
                                            <option value="option1">Rift Valley</option>
                                            <option value="option2">Eastern</option>
                                            <option value="option1">Central</option>
                                            <option value="option1">North Eastern</option>
                                            <!-- Add more options here -->
                                        </select>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <label for="service-provider">Service Provider</label>
                                        <select id="service-provider" name="service-provider" class="form-control">
                                            <option value="Sam & Advocates">Delight's Enterprises</option>
                                            <option value="Nairobi Water">Jenkins Investment</option>
                                            <option value="Nairobi Water">Valerian Auctions</option>
                                            <option value="Nairobi Water">Sam & Advocates</option>
                                            <!-- Add more providers here -->
                                        </select>
                                    </div>
                    
                                    <div class="col-md-4">
                                        <label for="Zip/Postal Address">Zip/Postal Address</label>
                                        <input type="text" id="postal-address" name="postal-address" class="form-control">
                                    </div>
                    
                                    <div class="col-md-4">
                                        <label for="Telephone">Telephone</label>
                                        <input type="tel" id="telephone" name="telephone" class="form-control">
                                    </div>
                    
                                    <div class="col-md-4">
                                        <label for="Email Address">Email Address</label>
                                        <input type="email" id="email" name="email" class="form-control">
                                    </div>
                    
                                    <div class="col-md-4">
                                        <label for="service-date">Service Date</label>
                                        <input type="date" id="service-date" name="service-date" class="form-control">
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <label for="claim-details">Enter Service Details</label>
                                    <textarea id="claim-details" name="claim-details" class="form-control" rows="4"></textarea>
                                </div>
                    
                            </form>
                        </div>
                    
                    
                    </body>
                    
                    </html>
                    

                    <!-- Comments -->
                    <div class="form-group mt-3">
                        <label for="comments">Comments:</label>
                        <textarea class="form-control" id="comments" rows="3"></textarea>
                    </div>

                    <!-- Buttons -->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" (click)="approveClaim()"
                            style="margin-top: 10px;">Approve</button>
                        <button type="button" class="btn btn-danger" (click)="rejectClaim()"
                            style="margin-top: 10px;">Reject</button>

                    </div>

                    <!-- Submitted Successfully Alert -->
                    <div class="alert alert-success mt-3" *ngIf="submittedSuccessfully">
                        Request {{ action }}ed Successfully!
                    </div>

                </div>
            </ng-container>

            <ng-container *ngIf="i === 4">
                <!-- Display content for "Claims Approval" tab -->
                <div class="container mt-3">
                    <!-- Claim details -->
                    <h5>Claim Details:</h5>
                    <!-- Replace this with actual claim details -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="https://www.example.com">Meeting ID :1219</a>

                            </h5>
                            <p class="card-text">User: John Doe</p>
                            <p class="card-text">Venue: Zoom</p>
                            <p class="card-text">Date: 1024-04-15</p>
                        </div>
                    </div>

                    <!-- Comments -->
                    <div class="form-group mt-3">
                        <label for="comments">Comments:</label>
                        <textarea class="form-control" id="comments" rows="3"></textarea>
                    </div>

                    <!-- Buttons -->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" (click)="approveClaim()"
                            style="margin-top: 10px;">Approve</button>
                        <button type="button" class="btn btn-danger" (click)="rejectClaim()"
                            style="margin-top: 10px;">Reject</button>

                    </div>

                    <!-- Submitted Successfully Alert -->
                    <div class="alert alert-success mt-3" *ngIf="submittedSuccessfully">
                        Meeting {{ action }}ed Successfully!
                    </div>

                </div>
            </ng-container>





        </div>
    </ng-container>
</div>