<ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs; let i = index" (click)="selectTab(i)">
        <a class="nav-link" [class.active]="selectedIndex === i">{{ tab.title }}</a>
    </li>
</ul>


<!-- cONTENT FOR TABLES -->

<div class="tab-content">
    <ng-container *ngFor="let tab of tabs; let i = index">
        <div *ngIf="selectedIndex === i" class="tab-pane fade show active">
            <!-- Display tab content based on selectedIndex -->
            <ng-container *ngIf="i === 0">
                <!-- Display table for the "Cases" tab -->
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mx-sm-3 mb-6 d-flex">
                                <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2"
                                    style="width: 150px; height: 30px;">
                                    <option value="1" disabled>search by</option>
                                    <option value="loanAccount">Loan Account</option>
                                    <option value="accountName">Account Name</option>
                                    <option value="caseNumber">Case Number</option>
                                    <option value="cifId">CIF ID</option>
                                </select>
                                <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                                    placeholder="Enter search value" class="form-control mr-4"
                                    style="width: 500%; height: 31px; margin-right: 15px;" required>
                                <button (click)="onSearch()" class="btn btn-primary btn-sm"
                                    style="border-radius: 5px; margin-left: -10px;">Search</button>
                            </div>
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Case Number</th>
                                            <th>Cif ID</th>
                                            <th>Loan account</th>
                                            <th>Account Name</th>
                                            <th>loan Amount</th>
                                            <th>Loan Tenure</th>
                                            <th>Branch code</th>
                                            <th>Loan Balance</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of pagedCasesdata">
                                            <td>{{ item.caseNumber}}</td>
                                            <td>{{ item.cifId }}</td>
                                            <td>{{ item.loanAccount }}</td>
                                            <td>{{ item.accountName }}</td>
                                            <td>{{ item.loanAmount }}</td>
                                            <td>{{ item.loanTenure }}</td>
                                            <td>{{ item.solId }}</td>
                                            <td>{{ item.loanBalance }}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary small-btn"
                                                    data-bs-toggle="modal" data-bs-target="#approvecaseModal">
                                                    Approve
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <pagination [(ngModel)]="currentPage" [totalItems]="totalItems"
                                        [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [maxSize]="5"
                                        [rotate]="true" [boundaryLinks]="true">
                                    </pagination>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
                <!-- case  approval modal-->
                <div class="modal fade" id="approvecaseModal" tabindex="-1" aria-labelledby="approvecaseModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="approvecaseModalLabel">Case Approval Form</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- First Column -->
                                        <div class="row">
                                            <div class="col-md-12 ps-9">
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputloanaccount" style="margin-bottom: -1px;">Loan
                                                        Account
                                                    </label>
                                                    <input type="text" class="form-control" id="CifID" readonly />


                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputcasenumber" style="margin-bottom: -1px;">Case
                                                        Number </label>
                                                    <input type="text" class="form-control" id="caseNumber" readonly />

                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputloan" style="margin-bottom: -1px;"> Loan
                                                        Amount</label>
                                                    <input type="text" class="form-control" id="loanAmount" readonly />


                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Second Column -->
                                        <div class="row">
                                            <div class="col-md-12 ps-9">
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputcifId" style="margin-bottom: -1px;">CIF ID</label>
                                                    <input type="text" class="form-control" id="cifId" readonly />


                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inpubranchid" style="margin-bottom: -1px;">Branch
                                                        ID</label>
                                                    <input type="text" class="form-control" id="solId" y />


                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputloanbalance" style="margin-bottom: -1px;">Loan
                                                        Balance</label>
                                                    <input type="text" class="form-control" id="loanBalance" readonly />

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <!-- Third Column -->
                                        <div class="row">
                                            <div class="col-md-12 ps-9">
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputaccname" style="margin-bottom: -1px;">Acc
                                                        Name</label>
                                                    <input type="text" class="form-control" id="accountName" readonly />


                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputloantenure" style="margin-bottom: -1px;">Loan
                                                        Tenure</label>
                                                    <input type="text" class="form-control" id="loanTenure" readonly />

                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="inputloantenure" style="margin-bottom: -1px;">Case
                                                        number </label>
                                                    <input type="text" class="form-control" id="loanTenure" readonly />

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary small-btn"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary small-btn">Approve Case</button>
                            </div>
                        </div>
                    </div>
                </div>


            </ng-container>


            <ng-container *ngIf="i === 1">
                <!-- Display content for "Document Approval" tab -->
                <div class="container mt-3">
                    <!-- Document details -->
                    <h5>Document Details:</h5>
                    <!-- Replace this with actual document details -->
                    <p><a href="#">Document Name: DocumentXYZ</a></p> <!-- Make Document Name a clickable link -->
                    <p>Submitted By: John Doe</p>
                    <p>Submission Date: 2024-04-15</p>

                    <!-- View Submission button -->
                    <button type="button" class="btn btn-primary btn-sm btn-block my-3">
                        <span>View Submission</span>
                    </button>

                    <!-- Comments -->
                    <div class="form-group mt-3">
                        <label for="comments">Comments:</label>
                        <textarea class="form-control" id="comments" rows="3"></textarea>
                    </div>

                    <!-- Buttons -->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" (click)="approveDocument()"
                            style="margin-top: 10px;">Approve</button>
                        <button type="button" class="btn btn-danger" (click)="rejectDocument()"
                            style="margin-top: 10px;">Reject</button>

                    </div>


                    <div class="alert alert-success mt-3" *ngIf="submittedSuccessfully">
                        Submitted Successfully!
                    </div>

                </div>
            </ng-container>


            <ng-container *ngIf="i === 2">
                <!-- Display content for "Claims Approval" tab -->
                <html>

                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Approve Claim Form</title>
                    <link rel="stylesheet"
                        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                </head>

                <body>

                    <div class="container mt-5">
                        <!-- <h2 class="text-center mb-4">APPROVE CLAIM</h2> -->

                        <!-- Form fields -->
                        <div class="form-row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="SERVICE NAME">
                            </div>
                            <div class="col">
                                <select class="form-control">
                                    <option>SERVICE PROVIDER</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control">
                                    <option>SERVICE ID</option>
                                </select>
                            </div>
                        </div>

                        <!-- Additional form fields -->
                        <div class="form-row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" placeholder="ACCOUNT NUMBER">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" placeholder="CONTACT INFO">
                            </div>
                        </div>

                        <!-- Claim amount field -->
                        <div class="form-group mb-3">
                            <label for="claimAmount">CLAIM AMOUNT</label>
                            <input type="text" id="claimAmount" class="form-control">
                        </div>

                        <!-- Service details textarea -->
                        <div class="form-group mb-3">
                            <label for="serviceDetails">SERVICE DETAILS</label>
                            <textarea id="serviceDetails" class="form-control"></textarea>
                        </div>

                        <!-- Supporting documents section -->
                        <div class="form-group mb-3">
                            <label>SUPPORTING DOCUMENTS</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary">VIEW</button>
                                <button type="button" class="btn btn-secondary">DOWNLOAD</button>
                                <button type="button" class="btn btn-secondary">UPLOAD</button>
                            </div>
                        </div>

                        <!-- Navigation buttons -->
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">PREVIOUS</button>
                            <button type="button" class="btn btn-danger">RETURN TO MAKER</button>
                            <button type="button" class="btn btn-warning">REJECT</button>
                            <button type="button" class="btn btn-success">APPROVE</button>
                        </div>
                    </div>

                </body>

                </html>

            </ng-container>



            <ng-container *ngIf="i === 3">
                <!-- Display content for "requests Approval" tab -->
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            
                                <div class="form-group mx-sm-3 mb-6 d-flex">
                                    <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2"
                                        style="width: 150px; height: 30px;">
                                        <option value="1" disabled>search by</option>
                                        <option value="requestId">Request id</option>
                                        <option value="serviceName">Service Name</option>
                                        <option value="serviceProviderName">Provider Name</option>
                                        <option value="providerAccountNumber">Account Number</option>
                                    </select>
                                    <input type="text" id="searchValue" [(ngModel)]="searchParams.value" placeholder="Enter search value"
                                        class="form-control mr-4" style="width: 500%; height: 31px; margin-right: 15px;" required>
                                    <button (click)="onSearch()" class="btn btn-primary btn-sm"
                                        style="border-radius: 5px; margin-left: -10px;">Search</button>
                                </div>
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Request id</th>
                                            <th>Service Name</th>
                                            <th>Provider Name</th>
                                            <th>Account Number</th>
                                            <th>Phone Number</th>
                                            <th>Service Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
            
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of SubmitData | paginate: { itemsPerPage: 5, currentPage: currentPage}">
                                            <td>{{ item.requestId }}</td>
                                            <td>{{ item.serviceName }}</td>
                                            <td>{{ item.serviceProviderName }}</td>
                                            <td>{{ item.providerAccountNumber }}</td>
                                            <td>{{ item.providerPhoneNumber }}</td>
                                            <td>{{ item.serviceDate }}</td>
                                            <td>
                                                <span class="badge fixed-width-badge" [ngClass]="{
                                                                                'btn-success': item.status === 'Approved',
                                                                                'btn-danger': item.status === 'Rejected',
                                                                                'btn-primary': item.status === 'Pending'
                                                                                }">
                                                    {{ item.status }}
                                                </span>
                                            </td>
                                            <td>
            
                                                <button type="button" class="btn small-btn custom-button"
                                                    (click)="openSubmitModal(item)">
                                                    Verify
                                                </button>
            
                                            </td>
            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                                        (pageChanged)="pageChanged($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                                    </pagination>
                                </div>
            
                            </div>
                        </div>
            
            
            
                    </div>
                </div>
                <!-- services modal -->
                <div class="modal fade" id="approveserviceModal" tabindex="-1" aria-labelledby="approveserviceModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="approveserviceModalLabel">Service Request Approval Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
            
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- First Column  -->
                                        <div class="row">
                                            <div class="col-md-12 ps-9">
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="requestId" style="margin-bottom: -1px;">Request Id</label>
                                                    <input type="text" class="form-control" id="requestId" readonly />
                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="serviceName" style="margin-bottom: -1px;">Service Name</label>
                                                    <input type="text" class="form-control" id="serviceName" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Second Column  -->
                                        <div class="row">
                                            <div class="col-md-12 ps-9">
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="providerAccountNumber" style="margin-bottom: -1px;">Account
                                                        Number</label>
                                                    <input type="text" class="form-control" id="providerAccountNumber" readonly />
                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="providerPhoneNumber" style="margin-bottom: -1px;">Phone
                                                        Number</label>
                                                    <input type="text" class="form-control" id="providerPhoneNumber" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Third Column -->
                                        <div class="row">
                                            <div class="col-md-12 ps-9">
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="status" style="margin-top: -20px;">Status</label>
                                                    <input type="text" class="form-control" id="status" readonly />
                                                </div>
                                                <div class="form-group" style="margin-top: -20px;">
                                                    <label for="serviceProviderName" style="margin-bottom: -1px;">Provider
                                                        Name</label>
                                                    <input type="text" class="form-control" id="serviceProviderName" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="comments" style="margin-bottom: -1px;">Comments</label>
                                            <textarea class="form-control" id="comments" rows="4"
                                                placeholder="Enter your comments here"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="modalMessage" class="alert" style="display: none;">
                                    {{ message }}
            
                                </div> <!-- Add this line -->
            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary small-btn" (click)="closeSubmitModal()">Close</button>
                                <button type="button" class="btn btn-danger" (click)="rejectSubmitService()">Reject Sevice</button>
                                <button type="button" class="btn btn-success" (click)="approveSubmitService()">Approve
                                    service</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            
            
            </ng-container>


            <ng-container *ngIf="i === 4">
                <!-- Display content for "Claims Approval" tab -->
                <div class="container mt-3">
                    <!-- Claim details -->
                    <h5>Claim Details:</h5>
                    <!-- Replace this with actual claim details -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="https://www.example.com">Meeting ID :1219</a>

                            </h5>
                            <p class="card-text">User: John Doe</p>
                            <p class="card-text">Venue: Zoom</p>
                            <p class="card-text">Date: 2024-04-15</p>
                        </div>
                    </div>

                    <!-- Comments -->
                    <div class="form-group mt-3">
                        <label for="comments">Comments:</label>
                        <textarea class="form-control" id="comments" rows="3"></textarea>
                    </div>

                    <!-- Buttons -->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" (click)="approveClaim()"
                            style="margin-top: 10px;">Approve</button>
                        <button type="button" class="btn btn-danger" (click)="rejectClaim()"
                            style="margin-top: 10px;">Reject</button>

                    </div>

                    <!-- Submitted Successfully Alert -->
                    <div class="alert alert-success mt-3" *ngIf="submittedSuccessfully">
                        Meeting {{ action }}ed Successfully!
                    </div>

                </div>
            </ng-container>
            <ng-container *ngIf="i === 5">
                <!-- Display content for "recovery cases" tab -->

            </ng-container>
            <ng-container *ngIf="i === 6">
                <!-- Display content for "restructure cases" tab -->

            </ng-container>
            <ng-container *ngIf="i === 7">
                <!-- Display content for "refinance cases" tab -->

            </ng-container>







        </div>
    </ng-container>
</div>