/* Custom CSS to change tab colors */
.nav-tabs .nav-link.active {
    background-color: #007bff;
    /* Active tab background color */
    color: #fdf2f2;
    /* Active tab text color */
}

.nav-tabs .nav-link {
    background-color: #f8f9fa;
    /* Default tab background color */
    color: #c00707;
    /* Default tab text color */
}

.nav-tabs .nav-link:hover {
    background-color: #e9ecef;
    /* Tab background color on hover */
    color: #e60c0c;
    /* Tab text color on hover */
}

.modal-content {
    background-color: #dbe8e9;

}

.table-container {
    width: 100%;
    overflow-x: auto;
}


table {
    width: 120%;
    border-collapse: collapse;
}


table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


#example th,
#example td {
    padding: 6px;
}

#example tr:nth-child(even) {
    background-color: #c0c0c0;
}

#example tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 50px;
}


.small-btn {
    font-size: 15px;
    padding: 5px 10px;
    height: 30px;
    border-radius: 5px;
}


.pagination-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
}


.btn-success {
    background-color: #28a745 !important;
    color: white !important;
}

.btn-danger {
    background-color: #dc3545 !important;
    color: white !important;
}

.btn-primary {
    background-color: #007bff !important;
    color: white !important;

}