/* Style the tab buttons */
.tablinks {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px;
}

/* Style the active tab */
.tabcontent.active {
    display: block;
}

















/* 


.body {
    background-color: #f7f7f7;
}

.container {
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-link {
    color: #007bff;
} */
