<!-- <p>cases-status works!</p> -->
<!-- <app-layout></app-layout> -->

<div class="row">
    
    <div class="row">
        <div class="col-md-12 grid-margin transparent">
            <div class="row">
                <div class="col-md-3 mb-3 stretch-card transparent" (click)="showTotalCases()">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Total Cases</p>
                            <p class="fs-30 mb-2">{{ totalCases }}</p>
                            <!-- <p>10.00% (30 days)</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 stretch-card transparent" (click)="showAssignedCases()">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Assigned cases</p>
                            <p class="fs-30 mb-2">{{ assignedCases }}</p>
                            <!-- <p>22.00% (30 days)</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3  stretch-card transparent" (click)="showUnassignedCases()">
                    <div class="card card-light-blue">
                        <div class="card-body">
                            <p class="mb-4">Unassigned Cases</p>
                            <p class="fs-30 mb-2">{{ unassignedCases }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" *ngIf="showTotalCasesFlag">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Total Cases</p>



                    <!-- Search Form -->
                    <!-- Search Form -->
                    <!-- Search Form -->
                    <div class="form-group mx-sm-3 mb-6 d-flex">
                        <!-- <label for="searchParam" style="width: 100px; margin-right:20px; color:black;">Search by:</label> -->
                        <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "
                            style="width: auto; height: auto;">
                            <option value="SearchBy" disabled>SearchBy</option>
                            <option value="cifId">CIF</option>
                            <option value="cifId">Case Number</option>
                            <option value="accountName">Account Name</option>
                            <option value="loanAccount">Loan Account</option>
                            <option value="assignedEmail">Assigned Email</option>
                            <!-- <option value="id">ID</option> -->
                        </select>
                        <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                            placeholder="Enter search value" class="form-control mr-4"
                            style="width: 300px; height: 20px; margin-right: 15px;">
                        <button (click)="search()" class="btn btn-primary btn-sm"
                            style="border-radius: 5px;">Search</button>
                    </div>




                    <!-- Export Buttons Container -->
                    <div class="export-buttons-container">
                        <button class="btn btn-primary mr-2  small-btn" style="margin-left: -1px;"
                            (click)="exportToPDF()">Export PDF</button>
                        <button class="btn btn-primary  small-btn" (click)="exportToExcel()">Export Excel</button>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>CIF</th>
                                            <th>Acc Number</th>
                                            <th>Acc Name</th>
                                            <th>Status</th>
                                            <th>Assigned Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of casesData">
                                            <td>{{ item.caseNumber }}</td>
                                            <td>{{ item.cifId }}</td>
                                            <td>{{ item.loanAccount }}</td>
                                            <td>{{ item.accountName }}</td>
                                            <td>{{ item.assigned }}</td>
                                            <td>{{ item.assignedEmail }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="4" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                    <button type="button" class="btn btn-primary  small-btn" style="border-radius:3px ; margin-right: 50px;"
                        data-dismiss="modal" (click)="exit()">Exit Page</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showAssignedCasesFlag">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Assigned Cases</p>
    
    
    
                    <!-- Search Form -->
                    <!-- Search Form -->
                    <!-- Search Form -->
                    <div class="form-group mx-sm-3 mb-6 d-flex">
                        <!-- <label for="searchParam" style="width: 100px; margin-right:20px; color:black;">Search by:</label> -->
                        <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "
                            style="width: auto; height: auto;">
                            <option value="SearchBy" disabled>SearchBy</option>
                            <option value="cifId">CIF</option>
                            <option value="cifId">Case Number</option>
                            <option value="accountName">Account Name</option>
                            <option value="loanAccount">Loan Account</option>
                            <option value="assignedEmail">Assigned Email</option>
                            <!-- <option value="id">ID</option> -->
                        </select>
                        <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                            placeholder="Enter search value" class="form-control mr-4"
                            style="width: 300px; height: 20px; margin-right: 15px;">
                        <button (click)="search()" class="btn btn-primary btn-sm"
                            style="border-radius: 5px;">Search</button>
                    </div>
    
    
    
    
                    <!-- Export Buttons Container -->
                    <div class="export-buttons-container">
                        <button class="btn btn-primary mr-2  small-btn" style="margin-left: -1px;"
                            (click)="exportToPDF()">Export PDF</button>
                        <button class="btn btn-primary  small-btn" (click)="exportToExcel()">Export Excel</button>
                    </div>
    
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>CIF</th>
                                            <th>Acc Number</th>
                                            <th>Acc Name</th>
                                            <th>Status</th>
                                            <th>Assigned Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of casesData">
                                            <td>{{ item.caseNumber }}</td>
                                            <td>{{ item.cifId }}</td>
                                            <td>{{ item.loanAccount }}</td>
                                            <td>{{ item.accountName }}</td>
                                            <td>{{ item.assigned }}</td>
                                            <td>{{ item.assignedEmail }}</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="4" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                    <button type="button" class="btn btn-primary  small-btn" style="border-radius:3px ;" data-dismiss="modal"
                        (click)="exit()">Exit Page</button>
                        
                </div>
            </div>
        </div>
    </div>
    

    <div class="row" *ngIf="showUnassignedCasesFlag">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">UnAssigned  Cases</p>
    
    
    
                    <!-- Search Form -->
                    <!-- Search Form -->
                    <!-- Search Form -->
                    <div class="form-group mx-sm-3 mb-6 d-flex">
                        <!-- <label for="searchParam" style="width: 100px; margin-right:20px; color:black;">Search by:</label> -->
                        <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "
                            style="width: auto; height: auto;">
                            <option value="SearchBy" disabled>SearchBy</option>
                            <option value="cifId">CIF</option>
                            <option value="cifId">Case Number</option>
                            <option value="accountName">Account Name</option>
                            <option value="loanAccount">Loan Account</option>
                            <option value="assignedEmail">Assigned Email</option>
                            <!-- <option value="id">ID</option> -->
                        </select>
                        <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                            placeholder="Enter search value" class="form-control mr-4"
                            style="width: 300px; height: 20px; margin-right: 15px;">
                        <button (click)="search()" class="btn btn-primary btn-sm"
                            style="border-radius: 5px;">Search</button>
                    </div>
    
    
    
    
                    <!-- Export Buttons Container -->
                    <div class="export-buttons-container">
                        <button class="btn btn-primary mr-2  small-btn" style="margin-left: -1px;"
                            (click)="exportToPDF()">Export PDF</button>
                        <button class="btn btn-primary  small-btn" (click)="exportToExcel()">Export Excel</button>
                    </div>
    
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>CIF</th>
                                            <th>Acc Number</th>
                                            <th>Acc Name</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of casesData">
                                            <td>{{ item.caseNumber }}</td>
                                            <td>{{ item.cifId }}</td>
                                            <td>{{ item.loanAccount }}</td>
                                            <td>{{ item.accountName }}</td>
                                            <td>{{ item.assigned }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="4" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                    <button type="button" class="btn btn-primary  small-btn" style="border-radius:3px ; margin-right: 50px;"
                        data-dismiss="modal" (click)="exit()">Exit Page</button>
                        
                </div>
            </div>
        </div>
    </div>
    
    

</div>

<style>
    /* CSS for Even Rows */
    #example tr:nth-child(even) {
        background-color: #c0c0c0;
        /* Grey background for even rows */
    }

    /* CSS for Odd Rows */
    #example tr:nth-child(odd) {
        background-color: #ffffff;
        /* White background for odd rows */
    }
</style>


<style>
    .export-buttons-container {
        margin-bottom: 10px;
        text-align: right;
    }
</style>