

<div class="row">
    <div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card card-tale" (click)="showTotalCases()">
                    <div class="card-body">
                        <p class="mb-4">Total Cases</p>
                        <p class="fs-30 mb-2">{{ totalCases }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card card-dark-blue"  (click)="showActiveCases()">
                    <div class="card-body">
                        <p class="mb-4">Active Cases</p>
                        <p class="fs-30 mb-2">{{ activeCases }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card card-light-blue"  (click)="showClosedCases()">
                    <div class="card-body">
                        <p class="mb-4">Closed Cases</p>
                        <p class="fs-30 mb-2">{{ closedCases }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="row" *ngIf="showTotalCasesFlag">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Total Cases</p>


                    <!-- Search Form -->
                    <div class="form-group mx-sm-3 mb-6 d-flex">
                        <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "
                            style="width: auto; height: 30px;">
                            <option value="SearchBy" disabled>SearchBy</option>
                            <option value="cifId">CIF</option>
                            <option value="accountName">Account Name</option>
                            <option value="loanAccount">Loan Account</option>
                            <!-- <option value="id">ID</option> -->
                        </select>
                        <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                            placeholder="Enter search value" class="form-control mr-4"
                            style="height: 30px;width: 100%; ">
                        <button (click)="search()" class="btn btn-primary small-btn"
                            style="border-radius: 3px;">Search</button>
                    </div>




                    <!-- Export Buttons Container -->
                    <!-- <div class="export-buttons-container">
                        <button class="btn btn-primary mr-4 small-btn" style="margin-left: -60px;"
                            (click)="exportToPDF()">Export PDF</button>
                        <button class="btn btn-primary small-btn" style="margin-right: 4px;"
                            (click)="exportToExcel()">Export Excel</button>

                    </div> -->

                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>CIF</th>
                                            <th>Loan Acc</th>
                                            <th>Acc Name</th>
                                            <th>Loan Ballance</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data">
                                            <td>{{ item.caseNumber }}</td>
                                            <td>{{ item.cifId }}</td>
                                            <td>{{ item.loanAccount }}</td>
                                            <td>{{ item.accountName }}</td>
                                            <td>{{ item.loanBalance }}</td>
                                            <td>{{ item.status }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="10" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                    <button type="button" class="btn btn-primary  small-btn" style="border-radius:3px ;" data-dismiss="modal"
                        (click)="ex()">Exit</button>
                    
                </div>
            </div>
        </div>
    </div>
      
    <div class="row" *ngIf="showActiveCasesFlag">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Active Cases</p>
    
    
                    <!-- Search Form -->
                    <div class="form-group mx-sm-3 mb-6 d-flex">
                        <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "
                            style="width: auto; height: 30px;">
                            <option value="SearchBy" disabled>SearchBy</option>
                            <option value="cifId">CIF</option>
                            <option value="accountName">Account Name</option>
                            <option value="loanAccount">Loan Account</option>
                            <!-- <option value="id">ID</option> -->
                        </select>
                        <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                            placeholder="Enter search value" class="form-control mr-4" style="height: 30px;width: 100%; ">
                        <button (click)="search()" class="btn btn-primary small-btn"
                            style="border-radius: 3px;">Search</button>
                    </div>
    
    
    
    
                    <!-- Export Buttons Container -->
                    <!-- <div class="export-buttons-container">
                            <button class="btn btn-primary mr-4 small-btn" style="margin-left: -60px;"
                                (click)="exportToPDF()">Export PDF</button>
                            <button class="btn btn-primary small-btn" style="margin-right: 4px;"
                                (click)="exportToExcel()">Export Excel</button>
    
                        </div> -->
    
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>CIF</th>
                                            <th>Loan Acc</th>
                                            <th>Acc Name</th>
                                            <th>Loan Ballance</th>
                                            <th>Status</th>
    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of ActiveData">
                                            <td>{{ item.caseNumber }}</td>
                                            <td>{{ item.cifId }}</td>
                                            <td>{{ item.loanAccount }}</td>
                                            <td>{{ item.accountName }}</td>
                                            <td>{{ item.loanBalance }}</td>
                                            <td>{{ item.status }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="10" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                    <button type="button" class="btn btn-primary  small-btn" style="border-radius:3px ;" data-dismiss="modal"
                        (click)="exit()">Exit</button>
    
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showClosedCasesFlag">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Closed Cases</p>
    
    
                    <!-- Search Form -->
                    <div class="form-group mx-sm-3 mb-6 d-flex">
                        <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "
                            style="width: auto; height: 30px;">
                            <option value="SearchBy" disabled>SearchBy</option>
                            <option value="cifId">CIF</option>
                            <option value="accountName">Account Name</option>
                            <option value="loanAccount">Loan Account</option>
                            <!-- <option value="id">ID</option> -->
                        </select>
                        <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                            placeholder="Enter search value" class="form-control mr-4" style="height: 30px;width: 100%; ">
                        <button (click)="search()" class="btn btn-primary small-btn"
                            style="border-radius: 3px;">Search</button>
                    </div>
    
    
    
    
                    <!-- Export Buttons Container -->
                    <!-- <div class="export-buttons-container">
                            <button class="btn btn-primary mr-4 small-btn" style="margin-left: -60px;"
                                (click)="exportToPDF()">Export PDF</button>
                            <button class="btn btn-primary small-btn" style="margin-right: 4px;"
                                (click)="exportToExcel()">Export Excel</button>
    
                        </div> -->
    
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>CIF</th>
                                            <th>Loan Acc</th>
                                            <th>Acc Name</th>
                                            <th>Loan Ballance</th>
                                            <th>Status</th>
    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of ClosedData">
                                            <td>{{ item.caseNumber }}</td>
                                            <td>{{ item.cifId }}</td>
                                            <td>{{ item.loanAccount }}</td>
                                            <td>{{ item.accountName }}</td>
                                            <td>{{ item.loanBalance }}</td>
                                            <td>{{ item.status }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="10" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                    <button type="button" class="btn btn-primary  small-btn" style="border-radius:3px ;" data-dismiss="modal"
                        (click)="exitPage()">Exit</button>
    
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* CSS for Even Rows */
    #example tr:nth-child(even) {
        background-color: #c0c0c0;
        /* Grey background for even rows */
    }

    /* CSS for Odd Rows */
    #example tr:nth-child(odd) {
        background-color: #ffffff;
        /* White background for odd rows */
    }
</style>


<style>
    .export-buttons-container {
        margin-bottom: 10px;
        text-align: right;
    }
</style>