<div class="row" >
    <div class="col-md-13 grid-margin stretch-card">
        <div class="card" style="margin-top:5px ;">
            <div class="card-body">
                <p class="card-title">Refinance Form</p>

            <div class="row">
                <div class="col-md-6">
                    <!-- First Column -->
                    <div class="row">
                        <div class="col-md-12 ps-9">
                            <!-- Form groups for the first column -->
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputcifid" style="margin-bottom: -1px;">CIF ID</label>
                                <input type="text" class="form-control" id="cifId" readonly />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputEmail4" style="margin-bottom: -1px;">Case Number</label>
                                <input type="text" class="form-control" id="caseNumber" readonly />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputloan" style="margin-bottom: -1px;">Initial Loan Amount</label>
                                <input type="text" class="form-control" id="initialLoanAmount" readonly />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputamount" style="margin-bottom: -1px;">Refinance amount</label>
                                <input type="text" class="form-control" id="refinanceAmount" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Second Column -->
                    <div class="row">
                        <div class="col-md-12 ps-9">
                            <!-- Form groups for the second column -->
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputEmail4" style="margin-bottom: -1px;">Loan Account</label>
                                <input type="text" class="form-control" id="loanAccount" readonly />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputEmail4" style="margin-bottom: -1px;">Branch Name</label>
                                <input type="text" class="form-control" id="branchName" readonly />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputEmail4" style="margin-bottom: -1px;">Initial Instalments</label>
                                <input type="text" class="form-control" id="initialInstalments" />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputloantenure" style="margin-bottom: -1px;">New Loan Tenure</label>
                                <input type="number" class="form-control" id="newLoanTenure" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Third Column -->
                    <div class="row">
                        <div class="col-md-12 ps-9">
                            <!-- Form groups for the third column -->
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputEmail4" style="margin-bottom: -1px;">Acc Name</label>
                                <input type="text" class="form-control" id="accountName" />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputloan" style="margin-bottom: -1px;">Loan Tenure</label>
                                <input type="text" class="form-control" id="loanTenure" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Fourth Column -->
                    <div class="row">
                        <div class="col-md-12 ps-9">
                            <!-- Form groups for the fourth column -->
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputbalance" style="margin-bottom: -1px;">Loan Balance</label>
                                <input type="text" class="form-control" id="loanBalance" readonly />
                            </div>
                            <div class="form-group" style="margin-top: -20px;">
                                <label for="inputinstalments" style="margin-bottom: -1px;">New Instalments</label>
                                <input type="text" class="form-control" id="newInstalments" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-mdb-input-init class="form-outline w-100" style="margin-top: -20px;">
                <label class="form-label" for="textAreaExample" style="color: blue; margin-bottom: -1px;">Comments</label>
                <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                <div style="margin-top: 2px;">
                    <button type="button" class="btn btn-primary small-btn" data-dismiss="modal" (click)="bsModalRef.hide()"
                        style="margin-left: 50px; margin-right: 10px;">Exit Page</button>
                    <button type="button" class="btn btn-primary small-btn" data-dismiss="modal"
                        (click)="bsModalRef.hide()">Submit</button>
                </div>
            </div>




            </div>
        </div>
    </div>
</div>
