<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
      <a class="navbar-brand brand-logo me-5" href="Dashboard"><img src="../assets/images/equity-bank.png" class="me-2"
          alt="logo" /></a>
      <!-- <a class="navbar-brand brand-logo-mini" href="index-2.html"><img src="../assets/images/equity-bank.png"
          alt="logo" /></a> -->
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end" style="background-color: maroon;">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu" style="color: white;"></span>
      </button>

      <div class="container">
        <div class="d-flex justify-content-center">
          <h2 style="color: whitesmoke;">GSAM System</h2>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
            data-bs-toggle="dropdown">
            <i class="icon-bell mx-0" style="color: whitesmoke;"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>

            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="ti-info-alt mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal"> <a class="nav-link"
                    [routerLink]="['approval/app-approval-interface']">Approvals Notifications </a></h6>
                <!-- <li class="nav-item"> <a class="nav-link" [routerLink]="['Approval/Approval']">APPROVAL</a></li> -->
                <p class="font-weight-light small-text mb-0 text-muted">
                  Just now
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="ti-settings mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Settings</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  Private message
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="ti-user mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal" [routerLink]="['app-admin-page']">New user registration</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  just now
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
            <img src="../assets/images/faces/face28.jpg" alt="profile" />
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="ti-settings text-primary"></i>
              Settings
            </a>
            <a class="dropdown-item" (click)="logout()">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>

      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">

    </div>
    <div id="right-sidebar" class="settings-panel">
      <i class="settings-close ti-close"></i>
      <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
      </ul>
      <div class="tab-content" id="setting-content">
      </div>
    </div>

    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="Dashboard">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Case Management</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">

            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" [routerLink]="['case-management/app-create-case']">Create
                  Case</a></li>
              <li class="nav-item"> <a class="nav-link"
                  [routerLink]="['case-management/app-search-case']">SearchCase</a></li>
              <li class="nav-item"> <a class="nav-link" [routerLink]="['case-management/app-case-status']">Case
                  Status</a></li>
              <li class="nav-item"> <a class="nav-link"
                  [routerLink]="['case-management/app-documentation']">Documentation</a></li>
              <li class="nav-item"> <a class="nav-link" [routerLink]="['case-management/app-create-meeting']">
                  Meeting</a></li>
              <li class="nav-item"> <a class="nav-link" [routerLink]="['case-management/app-case-decision']">Case
                  Decision</a></li>
              <li class="nav-item"> <a class="nav-link" [routerLink]="['case-management/app-case-tracking']">Case
                  Tracking</a></li>
              <!-- <li class="nav-item"> <a class="nav-link" [routerLink]="['case-management/app-assign-case']">Assign
                  Case</a></li> -->
                  <li class="nav-item"> <a class="nav-link" [routerLink]="['case-management/app-assign-case']">Assign
                      Case</a></li>
                      <li class="nav-item"> <a class="nav-link" [routerLink]="['billing-reconciliation/app-approve-claim-tab']">Approve
                          Claim</a></li>


            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#ui-advanced" aria-expanded="false"
            aria-controls="ui-advanced">
            <i class="icon-image menu-icon"></i>
            <span class="menu-title">Documents</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-advanced">
            <ul class="nav flex-column sub-menu">

              <li class="nav-item"> <a class="nav-link" [routerLink]="['documents/app-searchdocument']">Search</a></li>
              <li class="nav-item"> <a class="nav-link" [routerLink]="['documents/app-request']">Request</a></li>
              <li class="nav-item"> <a class="nav-link" [routerLink]="['documents/app-retrieve']">Retrieve</a></li>
              <li class="nav-item"> <a class="nav-link" [routerLink]="['documents/app-upload']">Upload</a></li>
              
              


            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts"
            class="nav-link" [routerLink]="['contracts/app-contract-inter']">
            <i class="icon-paper menu-icon"></i>
            <span class="menu-title">Contracts</span>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
            <i class="icon-loader menu-icon"></i>
            <span class="menu-title">Billing & Reconciliation</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="editors">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link"
                  [routerLink]="['billing-reconciliation/app-request-service']">Request
                  Service</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['billing-reconciliation/app-view-requests']">View
                  Requests</a>
              </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['billing-reconciliation/app-create-claim']">Create
                  claim</a>
              </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['billing-reconciliation/app-view-claims']">View
                  claims</a></li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts"
            class="nav-link" [routerLink]="['reports/app-reports-inter']">
            <i class="icon-bar-graph menu-icon"></i>
            <span class="menu-title">Reports</span>

          </a>
        </li>

        <!-- ADMIN-- -->

        <li class="nav-item" style="margin-top: 150px;" *ngIf="isAdmin">

          <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
            aria-controls="form-elements" class="nav-link" [routerLink]="['app-admin-page']">

            <i class="icon-head menu-icon"></i>
            <span class="menu-title" style="font: size 30px;">Admin</span>
          </a>
        </li>

        <!-- ADMIN  end -- -->

      </ul>
    </nav>
    <!-- partial -->

    <div class="main-panel">
      <div class="content-wrapper" *ngIf="sharedService.isAuthenticated">
        <router-outlet></router-outlet>
      </div>


    </div>


    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>