<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="form-group mx-sm-3 mb-6 d-flex">
                    <label for="searchParam"style="width: 100px; margin-right:20px; color:black;">Search by:</label>
                    <select id="searchParam" [(ngModel)]="searchParams.param" class="form-control mr-2 "style="width: auto; height: auto;">
                        <option value="acid">Acid</option>
                        <option value="verified_flag">Verified Flag</option>
                        <option value="sol_code">Sol Code</option>
                        <option value="account_name">Account Name</option>
                        <option value="id">ID</option>
                    </select>
                    <input type="text" id="searchValue" [(ngModel)]="searchParams.value"
                        placeholder="Enter search value" class="form-control mr-4"style="width: 300px; height: 20px; margin-right: 15px;">
                    <button (click)="search()" class="btn btn-primary btn-sm" style="border-radius: 5px;">Search</button>
                </div>

                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Account ID</th>
                            <th>Verified Flag</th>
                            <th>SOL ID</th>
                            <th>Account Name</th>
                            <th>CIF</th>
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let loanItem of pagedLoanData">
                            <td>{{ loanItem.acid }}</td>
                            <td>{{ loanItem.verified_flag }}</td>
                            <td>{{ loanItem.sol_code }}</td>
                            <td>{{ loanItem.account_name }}</td>
                            <td>{{ loanItem.id }}</td>
                            <td>
                                <button class="btn btn-sm btn-info" (click)="getLoanDetails(loanItem.acid)">View Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-12">
                        <pagination [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <p>Account Name: {{loanDetails?.acid}}</p>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr *ngFor="let detail of loanDetails | keyvalue">
                <td>{{ detail.key }}</td>
                <td>{{ detail.value }}</td>
            </tr>
        </table>      
    </div>  -->
<div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'loan'}" id="pills-loan-details" role="tabpanel"
    aria-labelledby="pills-loan-details-tab">
    <div *ngIf="loanDetails && loanDetails.entity">
        <table class="table">
            <tbody>
                <tr>
                    <td>Account Activation Info</td>
                    <td>{{ loanDetails.entity.accountActivationInfo }}</td>
                </tr>
                <tr>
                    <td>Account Balance</td>
                    <td>{{ loanDetails.entity.accountBalance }}</td>
                </tr>
                <tr>
                    <td>Account Closure Info</td>
                    <td>{{ loanDetails.entity.accountClosureInfo }}</td>
                </tr>
                <!-- Continue adding rows for other properties you want to display -->
            </tbody>
        </table>
    </div>
</div>

    
     
</div>