<form class="form-inline" style=" margin-left: -15px;margin-top: 15px;">
    <div class="form-group mx-sm-3 mb-6 d-flex">
        <select class="form-control mr-2" id="dropdownMenu" style="width: 100px;background-color: grey; ">
            <option value="" style="color: rgb(206, 200, 200);">Search by..</option>
            <option value="option1">ID</option>
            <option value="option2">Account NO.</option>
            <option value="option3">Acc Name</option>
            <option value="option4">Case Number</option>
            <option value="option5">CIF ID</option>
        </select>
        <input type="text" class="form-control mr-4" id="searchInput" placeholder="Search"
            style="width: 300px; height: 40px; margin-left: 10px;">
        <button type="search" class="btn btn-primary btn-sm"
            style=" margin-left: 10px;border-radius: 5px;">Search</button>
    </div>
      
</form>
<div>

</div>
<div>



    <div class="table-container">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">CIF ID</th>
                    <th scope="col">Acc. Number</th>
                    <th scope="col">Acc. Name</th>
                    <th scope="col">Branch Name</th>
                    <th scope="col">Loan Amount</th>
                    <th scope="col">Instalments</th>
                    <th scope="col">Next Payment Date</th>
                    <th scope="col">Last Payment Date</th>
                    <th scope="col">Syndicated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3444</td>
                    <td>13201998</td>
                    <td>A&B LTD</td>
                    <td>543839838</td>
                    <td>85,000</td>
                    <td>10,000 </td>
                    <td>28.05.24</td>
                    <td>27.04.24</td>
                    <td>
                        <div>
                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                aria-label="...">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




    <div class="row" style="margin-top: 5%;height: 100%;width:300% ;">
        <div class="col-md-10 grid-margin stretch-card">

            <div style="height: 100%;width: 300px; ">
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions">
                </highcharts-chart>
                <div class="col-md-13 ">
                    <div class="px-5 py-4">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="create-meeting"  (click)="goToCreateMeeting()">Create&nbsp;Meeting</button>
                            <button type="submit" class="next" (click)="goToCaseDecision()">Next&nbsp;Page</button>


                        </div>
                    </div>
                </div>
            </div>
        </div>