/* General Styles */
label {
  font-weight: bold;
}

.form-control {
  width: 200px;
  height: 0px;
}

.search-container {
  margin-bottom: 50px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #800000;
  color: white;
  padding: 8px;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Pagination Styles */
.pagination-container {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination li {
  display: inline;
  margin: 0 2px;
}

.pagination li a {
  color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
}

.pagination li.disabled a {
  color: #aaa;
  pointer-events: none;
}

/* Input Group Styles */
.input-group {
  margin-bottom: 20px;
}

.form-select {
  width: 200px;
}

.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-input:focus::placeholder {
  color: black;
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#searchValue::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

/* Card and Modal Styles */
.card {
  width: 80%;
  margin: auto;
}

/* Tab Styles */
.tab-content-container {
  width: 100%;
  display: block;
  overflow-x: auto;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}

.nav-pills .nav-link {
  background-color: #d1e7dd;
  color: #0f5132;
  margin-right: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link.active {
  background-color: #0b22ef;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-pills .nav-link:hover {
  background-color: #0a3d27;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.tab-content .tab-pane {
  border: 2px solid #0f5132;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}