<div class="row">
    <div class="col-md-12 grid-margin transparent">
        <div class="row">
            <div class="col-md-3 mb-3 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4">Total Cases</p>
                        <p class="fs-30 mb-2">40</p>
                        <p>10.00% (30 days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Active cases</p>
                        <p class="fs-30 mb-2">6</p>
                        <p>22.00% (30 days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3  stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Closed Cases </p>
                        <p class="fs-30 mb-2">30</p>
                        <p>2.00% (30 days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3  stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Assigned</p>
                        <p class="fs-30 mb-2">1</p>
                        <p>0.22% (30 days)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-group mx-sm-3 mb-6 d-flex">
    <select class="form-control mr-2" id="dropdownMenu" style="width: 100px;background-color: grey; ">
        <option value="" style="color: rgb(206, 200, 200);">Search by..</option>
        <option value="option1">ID</option>
        <option value="option2">Account NO.</option>
        <option value="option3">Acc Name</option>
        <option value="option4">Case Number</option>
        <option value="option5">CIF ID</option>
    </select>
    <input type="text" class="form-control mr-4" id="searchInput" placeholder="Search"
        style="width: 300px; height: 40px; margin-left: 10px;">
    <button type="search" class="btn btn-primary btn-sm"
        style=" margin-left: 10px;border-radius: 5px;">Search</button>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Item ID</th>
            <th scope="col">loan Acc</th>
            <th scope="col">A/c Name</th>
            <th scope="col">Date Received</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>123456789101</td>
            <td>CARL INVESTMENT</td>
            <td>10.04.24</td>
            <td>UNASSIGNED</td>
            <td><button type="button" class="assign"  (click)="goToCaseDetails()">ASSIGN</button></td>
        </tr>
        <tr>
            <td>002</td>
            <td>123456789101</td>
            <td>CARL INVESTMENT</td>
            <td>10.04.24</td>
            <td>UNASSIGNED</td>
            <td><button type="button" class="assign"  (click)="goToCaseDetails()">ASSIGN</button></td>
        </tr>
        <tr>
            <td>003</td>
            <td>123456789101</td>
            <td>CARL INVESTMENT</td>
            <td>10.04.24</td>
            <td>UNASSIGNED</td>
            <td><button type="button" class="assign"  (click)="goToCaseDetails()">ASSIGN</button></td>
        </tr>
        <tr>
            <td>004</td>
            <td>123456789101</td>
            <td>CARL INVESTMENT</td>
            <td>10.04.24</td>
            <td>UNASSIGNED</td>
            <td><button type="button" class="assign"  (click)="goToCaseDetails()">ASSIGN</button></td>
        </tr>
    </tbody>
</table>



                

                

                