<ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs; let i = index" (click)="selectTab(i)">
        <a class="nav-link" [class.active]="selectedIndex === i">{{ tab.title }}</a>
    </li>
</ul>

<div class="tab-content">
    <ng-container *ngFor="let tab of tabs; let i = index">
        <div *ngIf="selectedIndex === i" class="tab-pane fade show active">
            <ng-container *ngIf="i === 0">

                <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
                    <div class="wrapper wrapper--w790">
                        <!-- Start of the card -->
                        <div class="card card-5">
                            <!-- Card heading -->
                            <div class="card-heading" style="
                    background-color: maroon;
                    color: white;
                    text-align: center;
                  ">
                                <h2 class="title">Meeting Details</h2>
                            </div>
                            <!-- Card body -->
                            <div class="card-body">
                                <!-- Start of form -->
                                <!-- Start of form -->
                                <form method="POST">
                                    <!-- Members section -->
                                    <div class="form-row">
                                        <div class="name">Members</div>
                                        <div class="value" style="flex: 1;">
                                            <div class="input-group" style="width: 100%;">
                                                <textarea class="input--style-5" name="company"
                                                    style="width: 100%;"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Venue section -->
                                    <div class="form-row">
                                        <div class="name">Venue</div>
                                        <div class="value">
                                            <div class="input-group">
                                                <div class="rs-select2 js-select-simple select--no-search">
                                                    <select name="subject" style="width: 495px;height: 50px;background-color:#d3d3d3 ;border-radius: 5px;">
                                                        <option disabled="disabled" selected="selected">
                                                            Choose option
                                                        </option>
                                                        <option>Virtual Meeting</option>
                                                        <option>Physical Meeting</option>
                                                        <option>Hybrid Meeting</option>
                                                    </select>
                                                    <div class="select-dropdown"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Case Details section -->
                                    <div class="form-row">
                                        <div class="name">Case Details</div>
                                        <div class="value" style="flex: 1;">
                                            <div class="input-group" style="width: 100%;">
                                                <textarea class="input--style-5" name="company"
                                                    style="width: 100%;"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Date Section -->
                                    <div class="form-row">
                                        <div class="name">Date</div>
                                        <div class="value">
                                            <div class="input-group">
                                                <input class="input--style-5" type="date" name="date" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Time Section -->
                                    <div class="form-row">
                                        <div class="name">Time</div>
                                        <div class="value">
                                            <div class="input-group">
                                                <input class="input--style-5" type="time" name="time" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Container For Clear Form and Submit Buttons -->
                                    <div style="display: flex; justify-content: space-between">
                                        <div class="clear-button-container" style="margin-top: 5px">
                                            <button class="btn btn--radius-2 btn--red" type="button"
                                                onclick="clearForm()" style="background-color: maroon">
                                                Clear Form
                                            </button>
                                        </div>
                                        <div style="text-align: right">
                                            <button class="btn btn--radius-2 btn--red" type="submit"
                                                style="background-color: maroon">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End of form -->
                            </div>
                            <!-- End of card body -->
                        </div>
                        <!-- End of the card -->
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="i === 1">
                <div class="table-responsive">
                    <!-- Search input and button start -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Meetings Attended</th>
                                <th>Upcoming Meetings</th>
                                <th>Pending Meetings</th>
                                <th>Missed Meetings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="font-weight-bold">GSAM Loan Id 024</td>
                                <td>GSAM Loan ID 003</td>
                                <td>GSAM Loan ID 101</td>
                                <td>GSAM Loan ID 004</td>
                                <td class="font-weight-medium"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>