.container {

    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 30%;
    /* Adjust as needed */
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
    padding: 0px;
    color: white;
    background-color: grey;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-list li {
    margin-bottom: 0px;
}

.custom-list input[type="checkbox"] {
    margin-right: 5px;
    color: blue;
    background-color: chartreuse;
}

.table tbody tr {
    height: px;
}

input[type="checkbox"]:checked+label {
    color: green;
}
/* documentation.component.css */

/* Style the table */
table {
    width: 100%;
    /* border-collapse: collapse; */
  }
  
  /* Style the table header */
  th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #800000;
    color:white;
  }
  
  /* Style the table data cells */
  td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Alternate row background color */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Hover effect on rows */
  tr:hover {
    background-color: #ddd;
  }
  .search-container {
    margin-bottom: 20px;
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .input-group {
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

/* Adjust the width of the select element */
.form-select {
    width: 200px;
}

/* Style the search button */
.btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}