.table-responsive {
    margin-bottom: 50px;
    /* Add margin to the bottom of the table */
}

.pagination-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}



.export-buttons-container button {
    margin-right: 10px;
    /* Adjust the value to increase or decrease space */
}